.btn{
    width: 419px;
height: 54px;
color: #fff;
border-radius: 6px;
border: none;
background: #2F80ED;
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 24.2px;
text-align: center;
margin-top: 40px;
}